* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #435165;
}
.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

/* Home page */

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding : 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}

.navtop div h1:hover {
  color: white;
  transition: 400ms;
}

.navtop div a {
	padding: 0 20px;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}

.sidemenu {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
  border-right: 1px solid #ccc;
  flex-direction: column;
  animation:animateleft 0.4s
}

@keyframes animateleft{
  from{left:-300px;opacity:0}
  to{left:0;opacity:1}
}

.sidemenu-button {
  position: fixed;
  background-color: rgb(0,0,0,0);
  border: none;
  color: #eaebed;
  padding: 16px;
  font-size: 1.35em;
  transition: 200ms;
}

.sidemenu-button:hover {
  background-color: #eaebed;
  border: 1px    #eaebed;
  color: #2f3947;
  transition: 400ms;
}

.sidemenu-close {
  font-size:18px;
}

.sidemenu-itens {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  outline: 0;
}

.sidemenu-itens:hover {
  transition: 400ms;
  background-color: #EFEFEF;
}

.sidemenu-itens a {
  color: #2f3947;
  text-decoration: none;
  cursor: auto;
}

.sidemenu-itens a:link, a:visited {
  color: #2f3947;
  text-decoration: none;
  cursor: auto;
}

.sidemenu-itens a:link:active, a:visited:active {
  color: #2f3947;
  text-decoration: none;
  cursor: auto;
}

.dropdown-btn {
  color: #2f3947;
  text-decoration: none;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  outline: 0;
}

.dropdown-btn:hover {
  transition: 400ms;
  background-color: #EFEFEF;
}

.active {
  background-color: #EFEFEF;
}

.dropdown-container {
  display: none;
  background-color: rgba(239, 239, 239, 0.342);
  padding-left: 8px;
  flex-direction: column;
  animation:movedown 0.5s;
}

@keyframes movedown{
  from{opacity:0;}
  to{opacity:1;}
}

.transition {
  display: flex;
  transition: 400ms;
}

.fa-caret-down {
  float: right;
  padding: 3px;
  padding-right: 5px;
}

body.loggedin {
	background-color: #f3f4f7;
}

body.screen {
	background-color: #fff;
  padding: 5px;
}
.content {
	width: 1200px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.card {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}

.card p {
  border-bottom: 1px solid #e0e0e3;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.screen p {
	padding: 0 0 20px 0;
  border-bottom: 1px solid #e0e0e3;
}

.screen .container {
  padding: 20px;

}

.screen .container h1 {
  font-size: 1.25em;
}

.screen .container label {
  width: 200px;
  padding: 8px 8px 8px 0;
  display: inline-block;
}

.screen .container input {
  margin: 10px;
}

.screen .container .button {
  background-color:#3274d6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px 10px 15px;
  margin: 10px 0 0 0 !important;
}

.screen .container input[type=text], input[type=password], input[type=date], select {
  width: 70%;
  margin: 8px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.screen .container input[type=submit]{
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 93px;
}

.box {
  padding: 20px;
  background-color: #fff;
}

.box h1 {
  font-size: 1.25em;
  float: center;
}


.box table{
  width: 870px;
  margin-left: 50px;
  float: center; 
}

.selecao_requisicao {
  width: 85%;
  margin: 1px !important;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.products {
  width: 629px;
}

.quantity {
  width: 150px !important; 
}

.increase {
  transition: 200ms;
  background-color: transparent;
  padding: 8px 12px 8px 12px;
  margin: 4px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.increase:hover {
  transition: 200ms;
  background-color: black;
  color: white;
}

.delete {
  background-color: crimson;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.data-content {
  display: flex;
  flex-direction: column;
}

.data-box {
  display: flex;
  margin-bottom: 20px;
}

.data-row {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.data-item {
  flex: 1;
  margin-bottom: 5px;
}

.data-header {
  flex: 1;
  margin-bottom: 5px;
}

.data-edit {
  background-color: #4CAF50;
  color: #fff;
  padding: 8px 10px 7px 10px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  border: none;
}

.data-delete {
  background-color: crimson;
  color: #fff;
  padding: 8px 10px 7px 10px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
  border: none;
}

.data-print {
  display: flex;
  background-color: #DAA520;
  padding: 8px 10px 7px 10px;
  border-radius: 5px;
  margin: 3px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

a.data-edit:link , a.data-edit:visited, a.data-delete:link , a.data-delete:visited {
  color: white;
  text-decoration: none;
  cursor: auto;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages a {
  background-color: #4CAF50;
  padding: 4px 8px 6px 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 10px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000; /* Isso irá garantir que este elemento sempre fique por cima de todos os outros elementos do site */
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #FFF;
  width: 40%;
  min-width: 300px;
  padding: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 5px;;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); /* Com transform se muda a posição do elemento */
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); 
  }
}

.modal-show .modal {
  animation: modal .3s;
}

.modal-close {
  position: absolute; /* O item fica absoluto em relação à classe .modal, que está como position relative (relativo) */
  top: 0;
  right: 0;
  width: 45px;
  height: 40px;
  border: none;
  font-size: 2em;
  background-color: transparent;
  cursor: pointer;
}

.modal-container.modal-show { /* Quando há duas classes grudadas, significa que devem haver as duas classes no elemento para que a estilização funcione */
  display: flex;

}